# Maven build folder
target/

# Logs
*.log

# Eclipse / STS
.project
.classpath
.settings/
.springBeans
.apt_generated/

# IntelliJ
.idea/
*.iml
*.iws
*.ipr

# NetBeans
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/

# VSCode
.vscode/

# Class files
*.class

# Package Files
*.jar
*.war
*.ear

# Maven Wrapper Jar
.mvn/wrapper/maven-wrapper.jar

# JVM crash logs
hs_err_pid*

# Temporary files
*.tmp
